:root {
    --itemBackgroundColor: white;
    --itemBorderRadius: 20px;
}

/* ANIMATION */

@keyframes itemOpening {
  from {max-height: 0}
  to {max-height: 700px; visibility: visible; padding: 1em;}
}

@keyframes itemClosing {
  from {max-height: 700px;}
  to {max-height: 0px; visibility: hidden; padding: 0em;}
}

/* MAIN */

main img {
    max-width: 100%;
}

main ul#placeList {
    width: 100vw;
    padding: 0;
}

main ul#placeList li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    border: 1px solid var(--borderColor);
    margin: 1em 0.5em;
    border-radius: var(--itemBorderRadius);
    background-color: var(--itemBackgroundColor);
}

/* PLACE ITEMS */

main label {
    width: 100%;
    text-align: left;
    background-image: url("../icons/mdi--menu-open.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

main input.placeInput:checked ~ label.placeLabel {
    background-image: url("../icons/mdi--close.svg");
}

main input.placeInput:checked ~ div.placeDiv {
    animation-name: itemOpening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

main input.placeInput:not(:checked) ~ div.placeDiv {
    animation-name: itemClosing;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* PLACE DIV */

div.placeDiv {
    text-align: left;
    flex-basis: 100%;
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    padding: 0;
}

div.placeDiv img {
    display: block;
    max-width: 60%;
    margin: auto;
}

div.placeDiv a {
    display: block;
    text-align: center;
}