/* MAIN */

main img {
    max-width: 100%;
}

main ul#placeList {
    width: 100vw;
    padding: 0;
}

main ul#placeList li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    border: 1px solid var(--borderColor);
    margin: 1em 0.5em;
    border-radius: var(--borderRadius);
}

/* PLACE ITEMS */

main label {
    width: 100%;
    text-align: left;
    background-image: url("../icons/mdi--menu-open.svg");
    background-position: 100%;
    background-repeat: no-repeat;
}

main input.placeInput:checked ~ label.placeLabel {
    background-image: url("../icons/line-md--menu-to-close-transition.svg");
}

main input.placeInput:checked ~ div.placeDiv {
    display: block;
}

/* PLACE DIV */

div.placeDiv {
    text-align: left;
    padding: 1em;
    flex-basis: 100%;
    display: none;
}

div.placeDiv img {
    max-width: 60%;
}

div.placeDiv a {
    display: block;
    text-align: center;
}