:root {
    --backgroundColor: #FFCF99;
    --headerBackgroundColor: #721121;
    --headerTextColor: white;
    --borderColor: black;
    --footerBackgroundColor: black;
    --footerTextColor: white;
    --headerBorderRadius: 14px;
    --mainTextColor: black;
}

/* ANIMATION */

@keyframes menuOpening {
  from {max-height: 0;}
  to {max-height: 700px; visibility: visible;}
}

@keyframes menuClosing {
  from {max-height: 700px;}
  to {max-height: 0; visibility: hidden;}
}

/* GENERAL */

html {
    overflow-x: hidden;
    scrollbar-width: thin;
    background-color: var(--backgroundColor);
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
}

.hideElement {
    position: absolute;
    left: -999em;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
    padding: 1em 0.5em;
    border-bottom-left-radius: var(--headerBorderRadius);
    border-bottom-RIGHT-radius: var(--headerBorderRadius);
}

header h1 {
    margin: 0;
}

header input[type=checkbox] {
    padding: 0;
}

header label {
    margin: 0 0 0 auto;
    background-image: url("../icons/mdi--menu.svg");
    background-size: 100% 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

/* AREA MENU */

header nav#areaMenu {
    flex-basis: 100%;
    text-align: center;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: hidden;
}

header nav#areaMenu ul {
    padding: 1em 0;
    margin: 0;
}

header nav#areaMenu li {
    list-style-type: none;
    margin: 1em;
}

header nav#areaMenu li.currentPage::before {
    content: "- ";
}

header nav#areaMenu li.currentPage::after {
    content: " -";
}

header input:checked ~ nav#areaMenu {
    animation-name: menuOpening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header input:checked ~ label {
    background-image: url("../icons/mdi--close-white.svg");
}

header input:not(:checked) ~ nav#areaMenu {
    animation-name: menuClosing;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

header nav#areaMenu a {
    color: var(--headerTextColor);
    text-decoration-color: var(--headerTextColor);
    border-bottom: 1px solid var(--headerTextColor)
}

header nav#areaMenu a:visited {
    border-bottom: 1px solid  var(--headerBackgroundColor)
}

/* BREADCRUMB */

header nav#breadcrumb {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav#breadcrumb ul {
    margin: 0;
    padding: 0;
    padding-left: 0.3em;
}

header nav#breadcrumb li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0.5em;
}

header nav#breadcrumb a {
    color: var(--headerTextColor);
    text-decoration-color: var(--headerTextColor);
    border-bottom: 1px solid var(--headerTextColor)
}

header nav#breadcrumb a:visited {
    border-bottom: 1px solid  var(--headerBackgroundColor)
}

/* MAIN */

main {
    display: block;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    flex: 1;
}

main img#errorImg {
    width: 25vw;
}

main a#errorPageLink {
    color: var(--mainTextColor);
    border-bottom: 1px solid var(--mainTextColor);
}

main a#errorPageLink:visited {
    color: var(--mainTextColor);
    border-bottom: 1px solid var(--backgroundColor);
}

/* FOOTER */

footer {
    background-color: var(--footerBackgroundColor);
    text-align: center;
}

footer p {
    color: var(--footerTextColor);
    margin: 0.2em;
}

footer a {
    color: var(--footerTextColor);
    margin: 1em;
}