:root {
    --headerBackgroundColor: #ac3434;
    --headerTextColor: white;
    --borderColor: black;
    --borderRadius: 20px;
}

/* ANIMATION */

/* GENERAL */

html {
    overflow-x: hidden;
    scrollbar-width: thin;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.hideElement {
    position: absolute;
    left: -999em;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
    padding: 1em 0.5em;
}

header h1 {
    margin: 0;
}

header input[type=checkbox] {
    padding: 0;
}

header label {
    margin: 0 0 0 auto;
    background-image: url("../icons/mdi--menu.svg");
    background-size: 100% 100%;
    width: 2em;
    height: 2em;
}

/* AREA MENU */

header nav#areaMenu {
    position: sticky;
    display: none;
    flex-basis: 100%;
    text-align: center;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

header nav#areaMenu ul {
    padding: 1em 0;
    margin: 0;
}

header nav#areaMenu li {
    list-style-type: none;
}

header nav#areaMenu li.currentPage::before {
    content: "- ";
}

header nav#areaMenu li.currentPage::after {
    content: " -";
}

header input:checked ~ nav#areaMenu {
    display: block;
}

header input:checked ~ label {
    background-image: url("../icons/line-md--menu-to-close-transition_white.svg");
}

header nav#areaMenu a {
    color: var(--headerTextColor);
    text-decoration-color: var(--headerTextColor);
    border-bottom: 1px solid var(--headerTextColor)
}

header nav#areaMenu a:visited {
    border-bottom: 1px solid  var(--headerBackgroundColor)
}

/* BREADCRUMB */

header nav#breadcrumb {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav#breadcrumb ul {
    margin: 0;
    padding: 0;
    padding-left: 0.3em;
}

header nav#breadcrumb li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0.5em;
}

header nav#breadcrumb a {
    color: var(--headerTextColor);
    text-decoration-color: var(--headerTextColor);
    border-bottom: 1px solid var(--headerTextColor)
}

header nav#breadcrumb a:visited {
    border-bottom: 1px solid  var(--headerBackgroundColor)
}

/* MAIN */

main {
    display: block;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
}